#header
{
    height: 50px;
    background-color: rgb(228, 228, 228);
}

#body
{
    padding-top:5%;
}


#input_area
{
    padding-right: 5%;
    padding-left: 25%;
    padding-top: 1%;
}

#middle_line
{
    height: 350px;
    border-left: black 1px solid;
    padding-left: 4%;
}

#output_area
{
    padding-top: 2px;
}